<form action='/' method='get'>
  <input type='text' name='name' autofocus>
  <button><%= 'Enter name' %></button><br>
  <input type='text' name='owner' autofocus>
  <button><%= 'Enter owner' %></button><br>
  <input type='text' name='due_date' autofocus>
  <button><%= 'Enter due-date' %></button><br>
  <input type='text' name='details' autofocus>
  <button><%= 'Enter details' %></button><br>
  <input type='text' name='priority' autofocus>
  <button><%= 'Enter priority' %></button><br>
  <input type='text' name='assigned_to' autofocus>
  <button><%= 'Enter assigned-to' %></button><br>
</form>


